
.form__container {
    padding:4rem 1.5rem;
}
.inp__container {
    margin-top:1rem;
}
label {
    text-transform: uppercase;
    letter-spacing: 2px;
    color:hsl(278, 68%, 11%);
    font-size:.7rem;
}
.inp__container input {
    margin-top:.5rem;
    width:100%;
    padding:.5rem 1rem;
    border:1px solid hsl(270, 3%, 87%);
    border-radius:8px;
}
.dates__label{
    position:relative;
}
.dates__label::before {
    content:"(mm/yy)";
    font-size:.7rem;
    position:absolute;
    left:5.2rem;
    top:0;
}
.dates__label::after {
    content:"cvc";
    font-size:.7rem;
    position:absolute;
    left:10.5rem;
    top:0;
}
.inp__dates {
    display:flex;
    gap:.5rem;
}
.inp__dates input:first-child {
    width:75px;
}
.inp__dates input:nth-child(2) {
    width:75px;
}
.inp__dates input:last-child {
    flex-grow:1;
}
.onFocus {
    border:1px solid purple !important;
    outline:none;
    /*background: purple;*/
}
.onError {
    border:1px solid red !important;
}

.confirm__btn {
    width:100%;
    padding:.9rem;
    margin-top:2rem;
    color:#FFFFFF;
    border:none;
    border-radius:10px;
    background:hsl(278, 68%, 11%);
    cursor:pointer;
}
.confirm__btn:hover {
    opacity:0.5;
}
.invalid__message_container {
    display:flex;
    gap:1rem;
}
.invalid__message {
    font-size:.75rem;
    color:red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
::placeholder {
    color:hsl(270, 3%, 87%);
    opacity:1;
}

@media(min-width:600px) {
    .form__container {
        max-width:600px;
        margin:10% auto;
    }
    .inp__container {
        margin-top:1rem;
    }
    .dates__label{
        position:relative;
    }
    .dates__label::before {
        content:"(mm/yy)";
        font-size:.7rem;
        position:absolute;
        left:5rem;
        top:0;
    }
    .dates__label::after {
        content:"cvc";
        font-size:.7rem;
        position:absolute;
        left:10.5rem;
        top:0;
    }
}
@media(min-width:1000px) {
    .form__container {
        max-width:500px;
    }
    .inp__container {
        margin-top:1rem;
    }
    .dates__label::before {
        content:"(mm/yy)";
        font-size:.7rem;
        position:absolute;
        left:5rem;
        top:0;
    }
    .dates__label::after {
        content:"cvc";
        font-size:.7rem;
        position:absolute;
        left:10.5rem;
        top:0;
    }
}
